@media screen and (max-width: 1440px) {
  .index_header .left_header {
    width: 39%;
  }
  .index_header .left_header .h1_index {
    font-size: 50px;
  }
  .index_header .right_header {
    width: 61%;
  }
}
@media screen and (max-width: 1200px) {
  .index_header .left_header {
    width: 40%;
  }
  .index_header .left_header .txt1_index {
    font-size: 24px;
  }
  .index_header .left_header .h1_index {
    font-size: 40px;
  }
  .index_header .left_header .txt2_index {
    font-size: 34px;
  }
  .index_header .right_header {
    width: 60%;
  }
}
@media screen and (max-width: 992px) {
  .index_header {
    flex-direction: column;
    height: auto;
  }
  .index_header .left_header {
    width: 100%;
    padding-bottom: 40px;
    background-position: 0px 50px;
  }
  .index_header .left_header .box_left_menu_index .burger_menu {
    display: flex;
  }
  .index_header .left_header .txt1_index {
    font-size: 26px;
    margin-top: 100px;
  }
  .index_header .left_header .h1_index {
    font-size: 44px;
  }
  .index_header .left_header .txt2_index {
    font-size: 38px;
  }
  .index_header .right_header {
    width: 100%;
  }
  .index_header .right_header .box_right_menu_index {
    display: none;
  }
  .index_header .right_header .box_alphabet {
    margin-top: 0;
    padding: 150px 0;
  }
  .index_header .right_header .box_alphabet p {
    background: rgba(197, 197, 197, 0.5);
  }
}
@media screen and (max-width: 768px) {
  .index_header {
    flex-direction: column;
    height: auto;
  }
  .index_header .left_header .h1_index {
    font-size: 42px;
  }
  .index_header .right_header .box_alphabet {
    grid-template-columns: repeat(6, 50px);
    grid-gap: 19px;
  }

  .box_menu_general .nav_general {
    display: none;
  }
  .box_menu_general .burger_menu_general {
    display: flex;
  }

  .footer_general .box_name_footer .box_logo_footer {
    font-size: 22px;
  }
  .footer_general .box_name_footer .box_logo_footer .img_logo_footer {
    height: 30px;
  }
  .footer_general .box_name_footer .txt_footer {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .index_header {
    padding: 20px;
  }
  .index_header .left_header .txt1_index {
    font-size: 18px;
    margin-top: 80px;
    margin-left: 10px;
  }
  .index_header .left_header .h1_index {
    font-size: 30px;
    margin-left: 10px;
  }
  .index_header .left_header .txt2_index {
    font-size: 24px;
    margin-left: 10px;
  }
  .index_header .right_header .box_alphabet {
    grid-template-columns: repeat(4, 50px);
    justify-content: center;
    grid-gap: 20px;
    padding: 100px 0;
  }

  .footer_general {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .footer_general .box_name_footer .box_logo_footer {
    font-size: 20px;
  }
  .footer_general .box_name_footer .txt_footer {
    font-size: 14px;
  }
  .footer_general .box_social_contact_footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer_general .box_social_contact_footer .contact_footer {
    margin-bottom: 15px;
  }

  .box_dictionary_general a {
    font-size: 16px;
  }
}