* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index_header {
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  max-height: 1000px;
  margin: 0 auto;
  display: flex;
  padding: 40px;
}
.index_header .left_header {
  height: 100%;
  width: 37%;
  background: url(../img/index/bg_point.svg) no-repeat;
  background-size: 300px;
  background-position: 0px 120px;
}
.index_header .left_header .box_left_menu_index {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.index_header .left_header .box_left_menu_index .box_logo {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-size: 26px;
  font-weight: bold;
}
.index_header .left_header .box_left_menu_index .box_logo .img_logo_index {
  height: 50px;
  margin-right: 15px;
}
.index_header .left_header .box_left_menu_index .box_logo .span_geo {
  color: #815400;
}
.index_header .left_header .box_left_menu_index .mobile_left_menu_index {
  position: fixed;
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.95);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.index_header .left_header .box_left_menu_index .mobile_left_menu_index a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 7px;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
}
.index_header .left_header .box_left_menu_index .mobile_left_menu_index a:hover {
  color: #f06c00;
}
.index_header .left_header .box_left_menu_index .mobile_left_menu_index .close_mobile_left_menu_index {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 30px;
  padding: 5px;
}
.index_header .left_header .box_left_menu_index .burger_menu {
  width: 35px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.index_header .left_header .box_left_menu_index .burger_menu .strip_burger_menu {
  width: 100%;
  height: 2px;
  background: black;
}
.index_header .left_header .txt1_index {
  margin-top: 150px;
  font-size: 28px;
  margin-bottom: 20px;
  margin-left: 30px;
  color: #815400;
}
.index_header .left_header .h1_index {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 30px;
  color: #62574d;
}
.index_header .left_header .txt2_index {
  font-size: 40px;
  margin-bottom: 40px;
  margin-left: 30px;
  color: #815400;
}
.index_header .left_header .about_us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-left: 30px;
  background: #815400;
}
.index_header .left_header .about_us:hover {
  background: #996400;
}
.index_header .left_header .box_social {
  margin-top: 50px;
}
.index_header .left_header .box_social img {
  width: 50px;
  margin-right: 20px;
}
.index_header .right_header {
  height: 100%;
  width: 63%;
  background: url(../img/index/bg_seti.svg) center no-repeat;
  background-size: cover;
}
.index_header .right_header .mobile_right_menu_index {
  position: fixed;
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.95);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.index_header .right_header .mobile_right_menu_index a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 7px;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
}
.index_header .right_header .mobile_right_menu_index a:hover {
  color: #f06c00;
}
.index_header .right_header .mobile_right_menu_index .close_mobile_right_menu_index {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 30px;
  padding: 5px;
}
.index_header .right_header .box_right_menu_index {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 52px;
  margin-top: 30px;
  padding-right: 40px;
}
.index_header .right_header .box_right_menu_index .burger_menu {
  width: 35px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: l;
  cursor: pointer;
}
.index_header .right_header .box_right_menu_index .burger_menu .strip_burger_menu {
  width: 100%;
  height: 2px;
  background: black;
}
.index_header .right_header .box_alphabet {
  margin-top: 30%;
  display: grid;
  grid-template-columns: repeat(7, 50px);
  grid-auto-rows: 50px;
  grid-gap: 20px;
  padding-left: 20px;
}
.index_header .right_header .box_alphabet a {
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  background: rgba(197, 197, 197, 0.3);
  cursor: pointer;
}
.index_header .right_header .box_alphabet a:hover {
  background: rgba(107, 107, 107, 0.6);
  border: 1px solid white;
}

.box_dictionary_general {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  padding-top: 40px;
}
.box_dictionary_general .title_dictionary {
  font-size: 70px;
  margin-bottom: 20px;
  border-bottom: 1px solid #424242;
  width: 40%;
}
.box_dictionary_general a {
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
}
.box_dictionary_general a:hover {
  text-decoration: underline;
}

.box_menu_general {
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-family: "Ubuntu", sans-serif;
  border-bottom: 1px solid gray;
}
.box_menu_general .box_logo_general {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
}
.box_menu_general .box_logo_general .img_logo_general {
  height: 50px;
  margin-right: 15px;
}
.box_menu_general .box_logo_general .span_geo_general {
  color: #815400;
}
.box_menu_general .nav_general {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.box_menu_general .nav_general a {
  color: black;
  text-decoration: none;
}
.box_menu_general .nav_general a:hover {
  text-decoration: underline;
}
.box_menu_general .burger_menu_general {
  width: 35px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.box_menu_general .burger_menu_general .strip_burger_menu_general {
  width: 100%;
  height: 2px;
  background: black;
}
.box_menu_general .mobile_menu_general {
  position: fixed;
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.95);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.box_menu_general .mobile_menu_general a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 7px;
  font-weight: 300;
}
.box_menu_general .mobile_menu_general a:hover {
  color: #f06c00;
}
.box_menu_general .mobile_menu_general .close_mobile_menu_general {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 30px;
  padding: 5px;
}

.footer_general {
  max-width: 1200px;
  width: 100%;
  padding: 50px 20px;
  margin: 0 auto;
}
.footer_general .box_name_footer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}
.footer_general .box_name_footer .box_logo_footer {
  display: flex;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}
.footer_general .box_name_footer .box_logo_footer .img_logo_footer {
  height: 35px;
  margin-right: 15px;
}
.footer_general .box_name_footer .box_logo_footer .span_geo_footer {
  color: #815400;
}
.footer_general .box_name_footer .strip_footer {
  height: 30px;
  width: 1px;
  background: gray;
  margin-left: 20px;
  margin-right: 10px;
}
.footer_general .box_name_footer .txt_footer {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
}
.footer_general .box_social_contact_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  padding: 20px 0;
}
.footer_general .box_social_contact_footer .contact_footer p:nth-child(1) {
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
.footer_general .box_social_contact_footer .contact_footer a {
  color: black;
  text-decoration: none;
}
.footer_general .box_social_contact_footer .contact_footer a:hover {
  text-decoration: underline;
}
.footer_general .box_social_contact_footer .social_footer img {
  height: 35px;
  margin-left: 15px;
}

.description_general {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 70px;
  min-height: calc(100vh - 220px);
}
.description_general .h1_description_general {
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-family: "IBM Plex Sans", sans-serif;
  color: #383838;
}
.description_general .txt_description_general {
  font-family: Arial, Helvetica, sans-serif;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}
.description_general .formula_description {
  font-size: 26px;
}

.figcaption_general {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: #363636;
  text-align: center;
  margin: 10px 0;
}

.img_description_general {
  display: block;
  margin: 0 auto;
}