*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "../scss/index.scss";
@import "../scss/dictionary.scss";
@import "../scss/menu_general.scss";
@import "../scss/footer_general.scss";
@import "../scss/description_general.scss";